<!DOCTYPE html>
<html>
    <head>
        {% include "bets/includes/head.html" %}
    </head>

    <body>

        <section class="left col-3">
            <div>
                <p> first thing </p>
            </div>
            <div>
                <p> hello </p>
            </div>
        </section>

        <section class="center col-9">
            <div>
                <h1>Financial History</h1>
                <h4> Total Balance: </h4>

                <h4>Per Category: </h4>

                <div>

                <table border = "1" cellpading = "10">
                    <tr>
                        <th>Category</th> <th>Amount</th>
                    </tr>
                    
                    <tr>

                    </tr>
                </table>
                </div>
                
                

                
            </div>
            
        </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>